.result-container {
  background-color: #F7CAC9;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
}

.word {
  color: #92A8D1;
}

.letters-display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.letter {
  background-color: #92A8D1;
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 20px;
}

.play-again {
  text-align: center;
  margin-top: 20px;
}

.play-again-btn {
  background-color: #34568B;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.play-again-btn:hover {
  background-color: #92A8D1;
}
